# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# R
.Rapp.history
.Rhistory
.RData

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Logs
*.log

# Dependencies
node_modules/

# Build outputs
dist/
build/